nav {
  button {
    background-color: $azzurro !important;
    border: $small solid $blu !important;
    margin: $small !important;
    color: $bianco !important;
  }
  button:hover {
    transform: scale(1.1) !important;
  }
  img {
    width: $full;
  }
  #container {
    width: 60px;
  }
}
